table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
    background-color: white; /* Set the default background color */
  }

  th,
td {
  border: 1px solid #e9e9e9;
  padding: 8px;
  text-align: left;
}

th {
    background-color: #f5f5f5;
  }

  .table-footer{
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .table-footer button{
    align-self: flex-start;
    background-color: rgb(211, 6, 6);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 20px;
  }

  .property_name{
    cursor: pointer;
  }

  .selected{
    background-color: beige;
  }

  .pagination-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }


  tr:hover{
    background-color: rgb(197, 197, 197);
  }
  
  .pagination button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 20px;
  }

  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .pagination button.active {
    background-color: #00bcd4;
  }

  .action-items{
    cursor: pointer;
    display: flex;
    gap: 8px;
  }

 