.detail-page-container{
    margin-top: 100px !important;
    width: 80vw;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10%;
    margin-bottom: 100px;
}

.image-container img{
    object-fit: cover;
    width: 600px;
}

.title{
    margin-right: 20px;
}

.agent-details-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
}

.agent-title{
    font-size: 20px;
}
.contact-button{
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.property-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.property-details h1{
    margin: 0;
    font-size: 4vw;
}
.error-message{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px
}

@media only screen and (max-width: 1092px) {
    .detail-page-container{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr ;
        justify-content: flex-start;
        gap: 2%;
    }
    .image-container img{
        object-fit: cover;
        width: 100%;
    }
}
